#game {
    width: 80%;
    margin: 0 auto;
}

.linha {
    display: flex;
}

.W {
    width: 50px;
    height: 50px;
    background-color: black;
}

.espaco {
    width: 50px;
    height: 50px;
    background-color: cornsilk;
}

.F {
    width: 50px;
    height: 50px;
    background-image: url(../assests/portal.png);
    background-size: contain;
    background-color: cornsilk; 
}

.S {
    width: 50px;
    height: 50px;
    background-color: red;
}

.R {
    width: 50px;
    height: 50px;
    background-image: url(../assests/rat.png);
    background-size: contain;
    background-color: cornsilk;
}

.I {
    width: 50px;
    height: 50px;
    background-image: url(../assests/injecao.png);
    background-size: contain;
    background-color: cornsilk;
}

#player {
    position: absolute;
    top: 460px;
    left: 153px;
    width: 45px;
    height: 45px;
    background-image: url(../assests/pickleRick.png);
    background-size: contain;
    transform: scaleX(-1);
}

#win {
    position: absolute;
    top: 250px;
    left: 450px;
    visibility: hidden;
}